*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.color{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  flex-direction: column;
}

.copiar{
  position: absolute;
  top: 0;
  margin: 10px;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 15px;
  color: white;
  display: none;
}

.color:hover .copiar{
  display: block;
}

.copiar:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

.hexadecimal , .rgb{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  user-select: none;
}

.color:not(:first-child) {
  margin-left: 0.2rem;
}

#generar{
  position: absolute;
  width: 20rem;
  height: 2rem;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 15px;
  color: white;
}

#generar:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

/*Codigo para el modal*/
#modal{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

#mensaje{
  width: 40%;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2.5rem;
  border-radius: 15px;
  font-size: 2.2rem;
  position: relative;
}

#botones{
  display: flex;
  justify-content: space-around;
}

#botones button{
  width: 49%;
  padding:0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

#cerrar{
  width: 35px;
  height: 35px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 1.5rem;
  right: -15px;
  top: -15px;
  cursor: pointer;
}

#cerrar:hover{
  background-color: darkred;
}